:root {
    --blanco: #ffffff;
    --acento: #1a2e2a;
    --secundario: #b9c0bf;
    --opcional: #e4e7e6;

    --resumen: rgba(255, 255, 255, 0.9);
    --sombra: rgba(0, 0, 0, 0.1);

    --fuente_principal: 3.8rem;

    --fuente_h1: 2.5rem;
    --fuente_h2: 1.875rem;
    --fuente_h3: 1.125rem;
    --fuente_peq: 1rem;
}

.dark-mode {
    --blanco: #2c2c2c;
    --acento: #d4dfd4;
    --secundario: #5a6359;
    --opcional: #727c6f;
    
    --resumen: #3e3e3e;
    --sombra: rgba(0, 0, 0, 0.3);
}

html {
    font-family: 'Open Sans';
    opacity: 0;
    transform: scale(0.95);
    animation: fadeInScale 1s ease-out forwards;
}

@keyframes fadeInScale {
    to {
        opacity: 1;
        transform: scale(1);
    }
}

body {
    background-color: var(--blanco);
    color: var(--acento);
    padding: 0 2.8125rem;
    margin: 0;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}

body h1, h2, h3 {
    color: var(--acento);
}

body h2 {
    font-size: var(--fuente_h2);
    border-bottom: 0.125rem solid var(--acento);
}

body p {
    margin-top: 0.9375rem;
    margin-bottom: 0.9375rem;
    line-height: 1.875rem;
}

header {
    text-align: center;
    color: var(--acento);
    background-color: var(--opcional);
}

header h1 {
    font-size: var(--fuente_h1);
    margin-bottom: 0.625rem;
    margin-top: 0;
    padding-top: 0.9375rem;
}

header p {
    margin: 0;
    font-size: var(--fuente_h3);
    padding-bottom: 1.25rem;
}

section {
    margin-left: 15%;
    margin-right: 15%;
}

.sections {
    background-color: var(--secundario);
}

.menu-bar {
    display: none;
}

@media (max-width: 800px) {
    .sections {
        top: 0;
        left: -100%;
        width: 80%;
        height: 100%;
        margin: 0;
        position: fixed;
        z-index: 10000;
    }

    header nav ul li {
        margin-top: 5rem;
    }

    header #nav-menu {
        display: block;
        float: none;
    }

    #nav-menu a {
        font-size: var(--fuente_h2);;
    }

    .menu-bar {
        display:flex;
        justify-content: flex-end;
        width: 100%;
        top: 0;
    }

    .btn-menu {
        color: var(--acento);
        text-decoration: none;
    }

    .btn-menu:hover {
        color: var(--blanco);
        background-color: var(--acento);
    }

    .menu-bar a {
        font-size: var(--fuente_h1);
    }
}

.sections ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    margin: 0;
    padding: 0.625rem;
}

.sections ul a {
    text-decoration: none;
    color: var(--acento);
    font-size: var(--fuente_peq);
    padding: 0.625rem 2.1875rem;
}

.sections ul a:hover {
    background-color: var(--acento);
    color: var(--blanco);
    transition: background-color 0.4s, color 0.4s;
}

#resumen {
    display: flex;
    flex-direction: column;
    font-size: var(--fuente_peq);
    margin-top: 1.875rem;
    margin-bottom: 3.125rem;
    padding: 0 1.5625rem 1.5625rem;
    background-color: var(--resumen);
    box-shadow: 0 0.25rem 0.5rem var(--sombra);
}

.resumen-container {
    display: flex;
}

.resumen-info-container {
    margin-right: 2.5rem;
    width: 70%;
}

.resumen-img-container {
    width: 30%;
    display: flex;
    align-items: center;
}

.img-dev {
    width: 100%;
    height: auto;
}  

@media (max-width: 480px) {
    :root {
        --fuente_h1: 2rem;
        --fuente_h2: 1.5rem;
        --fuente_h3: 1.2rem;
        --fuente_peq: 1rem;
    }

    body {
        padding: 0 0.8rem;
        align-self: center;
    }

    section {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    #resumen {
        margin-top: 0.5rem;
        margin-bottom: 0rem;
        
    }

    .resumen-container {
        flex-direction: column;
        align-items: center;
    }

    .resumen-info-container {
        width: 100%;
        margin-right: 0;
    }

    .resumen-img-container {
        margin-left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .img-dev {
        width: 50%;
        height: auto;
    }  
}

.instituciones {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 0.05625rem solid var(--secundario);
    border-radius: 0.3125rem;
}

.institucion {
    display: grid;
    grid-template-rows: auto 1fr;
    padding: 0.625rem 3.125rem;
}

#espol-inst {
    border-left: 0.05625rem solid var(--secundario);
}

.institucion-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.institucion-info h3 {
    margin-bottom: 0.46875rem;
}

.institucion-info p {
    margin-top: 0.46875rem;
    margin-bottom: 0.46875rem;
    font-size: var(--fuente_peq);
}

.institucion-logo {
    display: flex;
    justify-content: center;    
    align-items: center;
    height: 11.25rem;
}

.espol-logo {
    width: 16.875rem;
    height: 6.6875rem;
}

.liceo-naval-logo {
    width: 11.25rem;
    height: 11.25rem;
}

@media (max-width: 480px) {
    .instituciones {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .institucion {
        width: 88%;
        padding: 0.5rem 1rem;
    }

    .espol-logo {
        width: 8rem;
        height: 3.5rem;
    }

    .liceo-naval-logo {
        width: 8rem;
        height: 8rem;
    }

    #espol-inst {
        border-left: 0rem;
        border-top: 0.05625rem solid var(--secundario);
    }
}

.experience-card {
   border: 0.05625rem solid var(--secundario);
   border-radius: 0.3125rem;
   padding: 0.625rem 2.1875rem;
}

.experience-card h3 {
    margin-bottom: 0.9375rem;
}

.experience-card p {
    font-size: var(--fuente_peq);
    margin-top: 0;
}

.experience-card li, .skill-card li {
    font-size: var(--fuente_peq);
    margin-top: 0.9375rem;
    margin-bottom: 0.9375rem;
}

.experience-description {
    list-style-type: none;
}

.experience-description li, .skill-description li {
    position: relative;
    padding-left: 1.875rem;
}

.experience-description li::before, .skill-description li::before {
    content: '\2713';
    position: absolute;
    left: 0;
    color: var(--acento);
}

@media (max-width: 480px) {
    .experience-card {
        padding: 0.5rem 1.5rem;
    }

    .experience-description {
        padding-left: 0.5rem;
    }
}

#habilidades {
    display: flex;
    flex-direction: column;
}

.skills-container, .project-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.skill-card, .project-card {
    padding: 0.9375rem 0;
    border: 0.05625rem solid var(--secundario);
    border-radius: 0.3125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.skill-card h3 {
    padding: 0 1.875rem;
    margin: 1.875rem 0;
}

.skill-description {
    height: auto;
    width: 100%;
}

.skill-description h3 {
    padding: 0 1.875rem;
}

.skill-description ul {
    padding-right: 0.8rem;
}

.skill-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18.75rem;
    width: 100%;
    flex-wrap: wrap;
}

.skill-description li {
    list-style-type: none;
}

#h-tecnicas, #h-blandas {
    margin-right: 0.9375rem;
}

#h-blandas, #idiomas {
    margin-left: 0.9375rem;
}

.icon {
    fill: var(--acento);
    width: 20%;
    height: auto;
    margin: 0.9375rem;
}

.icon-blanda {
    margin-left: 1.875rem;
    margin-right: 1.875rem;
}

.flag {
    height: 3.125rem;
    width: 5rem;
    margin: 1.875rem;
}

@media (max-width: 480px) {
    .skills-container, .project-container {
        flex-direction: column;
    }

    .skill-card, .project-card {
        width: 100%;
    }

    #h-blandas, #idiomas {
        margin-top: 1rem;
    }

    .skill-description {
        height: 100%;
        width: 100%;
    }
    
    .skill-description h3 {
        margin: 1rem 0;
        padding: 0 1rem;
    }

    .skill-description ul {
        padding-left: 1.8rem;
    }

    #h-tecnicas, #h-blandas {
        margin-right: 0;
    }

    #h-blandas, #idiomas {
        margin-left: 0;
    }

    .skill-icon {
        height: 50%;
        width: 18.75rem;
    }
}

@media (max-width: 480px) {
    .project-card {
        margin: 0.5rem auto;
    }
    /*margin: 0.625rem;*/
}

.project-description {
    padding: 0.625rem 1.875rem;
}

.project-description p {
    margin-bottom: 0.3125rem;
}

.project-tecno, .project-link {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0.625rem;
    padding: 0.625rem 1.875rem;
    width: 100%;
    box-sizing: border-box;
}

.project-tecno span {
    background-color: var(--acento);
    color: var(--opcional);
    padding: 0.3125rem 0.625rem;
    border-radius: 0.3125rem;
    margin: 0;
    text-align: center;
    white-space: nowrap;
    flex-grow: 0;
}

.project-img {
    width: 100%;
}

.project-img img {
    width: 100%;
    height: 100%;
}

.project-link {
    margin: 0.625rem 0;
}

.project-link a {
    text-decoration: none;
}

i.fas, .project-link a {
    color: var(--acento);
    font-size: var(--fuente_peq);
}

@media (max-width: 480px) {
    .project-img img {
        width: 100%;
        height: 100%;
    }
}

#contacto {
    display: flex;
    justify-content: space-between;
    margin-top: 3.125rem;
    margin-bottom: 0.625rem;
}

.form-card {
    width: 55%;
}

.formulario {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 0.3125rem;
    font-weight: bold;
    color: var(--acento);
}

input[type="text"],
input[type="email"],
textarea {
    font-family: 'Open Sans';
    padding: 0.3125rem;
    margin-bottom: 0.9375rem;
    margin-left: 0.625rem;
    border: 0.0625rem solid var(--secundario);
    border-radius: 0.25rem;
    font-size: var(--fuente_peq);
    resize: vertical;
    width: 50%;
}

textarea {
    min-height: 6.25rem;
}

select {
    padding: 0.3125rem;
    margin-top: 0.3125rem;
    margin-bottom: 0.9375rem;
    margin-left: 0.625rem;
    border: 0.0625rem solid var(--secundario);
    border-radius: 0.25rem;
    font-size: var(--fuente_peq);
    width: 50%;
    appearance: none;
    background-color: white;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="gray" d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 0.625rem center;
    background-size: 1em;
}

select:hover {
    border-color: var(--acento);
}

select:focus {
    outline: none;
    border-color: var(--acento);
    box-shadow: 0 0 0.3125rem var(--secundario);
}

button {
    padding: 0.625rem 1.875rem;
    background-color: var(--acento);
    color: var(--opcional);
    border: none;
    border-radius: 0.5rem;
    font-size: var(--fuente_peq);
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 0.625rem;
}

.form-section {
    display: flex;
}

button:hover {
    background-color: var(--secundario);
    color: var(--acento);
}

@media (max-width: 480px) {
    #contacto {
        margin-top: 0.5rem;
        flex-direction: column;
    }

    .form-card {
        width: 100%;
    }

    #form-button-container {
        display: flex;
        justify-content: center;
    }
}

#map {
    width: 40%;
    height: auto;
    margin-top: 3.75rem;
}

@media (max-width: 480px) {
    #map {
        margin-top: 1rem;
        height: 15rem;
        width: 100%;
    }
}

footer {
    display: flex;
    justify-content: center;
    background-color: var(--secundario);
    margin-top: 1.25rem;
}

#video {
    margin-top: 1.5625rem;
    display: flex;
    justify-content: space-between;
}

#video div {
    width: 31.25rem;
    display: flex;
    align-items: center;
}

.video-description-container {
    margin: 1rem;
}

footer ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0px;
    margin-left: 3.125rem;
    margin-right: 3.125rem;
}

footer li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.625rem;
}

footer p {    
    margin-left: 3.125rem;
    margin-right: 3.125rem;
    align-content: center;
}

footer p {
    text-decoration: none;
    color: var(--acento);
    font-size: var(--fuente_peq);
    line-height: 1.5;
    letter-spacing: 0.03125rem;
}

.icon-social-media {
    fill: var(--acento);
}

@media (max-width: 480px) {
    #video {
        flex-direction: column;
        align-items: center;
    }

    #video iframe {
        height: 15rem;
        width: 100%;
        order: 2;
    }

    #video div {
        width: 100%;
    }

    footer ul {
       margin: 0.5rem 1rem;
    }

    footer li {
        justify-content: center;
        padding: 0.5rem;
    }

    footer p {
        margin-left: 0;
        margin-right: 0;
        text-align: center;
        margin-top: 0.5rem;
    }
}