:root {
    --blanco: #ffffff;
    --acento: #1a2e2a;
    --secundario: #b9c0bf;
    --opcional: #e4e7e6;

    --fuente_principal: 3.8rem;
}

html {
    font-family: 'Open Sans';
    background-color: var(--blanco);
}

body {
    padding: 0 30px;
    margin: 0;
}

body h1, h2, h3 {
    color: var(--acento);
}

body h2 {
    font-size: 30px;
    border-bottom: 2px solid #1a2e2a;
}

body p {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 25px;
}

header {
    text-align: center;
    color: var(--acento);
    background-color: var(--opcional);
}

header h1 {
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 0px;
    padding-top: 15px;
}

header p {
    margin: 0;
    font-size: 20px;
    padding-bottom: 20px;
}

.sections {
    background-color: var(--secundario);
}

.sections ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content:center;
    margin: 0;
    padding: 10px;
}

.sections ul a {
    text-decoration: none;
    color: var(--acento);
    font-size: 18px;
    padding: 10px 35px;
}

.sections ul a:hover {
    background-color: var(--acento);
    color: var(--blanco);
    transition: background-color 0.3s, color 0.3s;
}

#resumen {
    display: flex;
    flex-direction: column;
    margin-left: 250px;
    margin-right: 250px;
}

.resumen-container {
    display: flex;
}

.resumen-info-container {
    margin-right: 40px;
}

.resumen-img-container {
    margin-left: 40px;
    display: flex;
    align-items: center;
}

.img-dev {
    width: 300px;
    height: 300px;
}  