:root {
    --blanco: #ffffff;
    --acento: #1a2e2a;
    --secundario: #b9c0bf;
    --opcional: #e4e7e6;

    --resumen: rgba(255, 255, 255, 0.9);
    --sombra: rgba(0, 0, 0, 0.1);

    --fuente_principal: 3.8rem;
}

.dark-mode {
    --blanco: #2c2c2c;
    --acento: #d4dfd4;
    --secundario: #5a6359;
    --opcional: #727c6f;
    
    --resumen: #3e3e3e;
    --sombra: rgba(0, 0, 0, 0.3);
}

html {
    font-family: 'Open Sans';
}

body {
    background-color: var(--blanco);
    color: var(--acento);
    padding: 0 2.8125rem;
    margin: 0;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}

body h1, h2, h3 {
    color: var(--acento);
}

body h2 {
    font-size: 1.875rem;
    border-bottom: 0.125rem solid var(--acento);
}

body p {
    margin-top: 0.9375rem;
    margin-bottom: 0.9375rem;
    line-height: 1.875rem;
}

header {
    text-align: center;
    color: var(--acento);
    background-color: var(--opcional);
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 0.625rem;
    margin-top: 0;
    padding-top: 0.9375rem;
}

header p {
    margin: 0;
    font-size: 1.25rem;
    padding-bottom: 1.25rem;
}

section {
    margin-left: 15.625rem;
    margin-right: 15.625rem;
}

.sections {
    background-color: var(--secundario);
}

.sections ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    margin: 0;
    padding: 0.625rem;
}

.sections ul a {
    text-decoration: none;
    color: var(--acento);
    font-size: 1.125rem;
    padding: 0.625rem 2.1875rem;
}

.sections ul a:hover {
    background-color: var(--acento);
    color: var(--blanco);
    transition: background-color 0.4s, color 0.4s;
}

#resumen {
    display: flex;
    flex-direction: column;
    font-size: 1.125rem;
    margin-top: 1.875rem;
    margin-bottom: 3.125rem;
    padding: 0 1.5625rem 1.5625rem;
    background-color: var(--resumen);
    box-shadow: 0 0.25rem 0.5rem var(--sombra);
}

.resumen-container {
    display: flex;
}

.resumen-info-container {
    margin-right: 2.5rem;
}

.resumen-img-container {
    margin-left: 2.5rem;
    display: flex;
    align-items: center;
}

.img-dev {
    width: 18.75rem;
    height: 18.75rem;
}  

.instituciones {
    display: flex;
    justify-content: space-between;
    border: 0.05625rem solid var(--secundario);
    border-radius: 0.3125rem;
}

.institucion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 0.625rem 3.125rem;
}

#espol-inst {
    border-left: 0.05625rem solid var(--secundario);
}

.institucion-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.institucion-info h3 {
    margin-bottom: 0.46875rem;
}

.institucion-info p {
    margin-top: 0.46875rem;
    margin-bottom: 0.46875rem;
    font-size: 1.125rem;
}

.institucion-logo {
    display: flex;
    justify-content: center;    
    align-items: center;
    height: 11.25rem;
}

.espol-logo {
    width: 16.875rem;
    height: 6.6875rem;
}

.liceo-naval-logo {
    width: 11.25rem;
    height: 11.25rem;
}

.experience-card {
   border: 0.05625rem solid var(--secundario);
   border-radius: 0.3125rem;
   padding: 0.625rem 2.1875rem;
}

.experience-card h3 {
    margin-bottom: 0.9375rem;
}

.experience-card p {
    font-size: 1.125rem;
    margin-top: 0;
}

.experience-card li, .skill-card li {
    font-size: 1.125rem;
    margin-top: 0.9375rem;
    margin-bottom: 0.9375rem;
}

.experience-description {
    list-style-type: none;
}

.experience-description li, .skill-description li {
    position: relative;
    padding-left: 1.875rem;
}

.experience-description li::before, .skill-description li::before {
    content: '\2713';
    position: absolute;
    left: 0;
    color: var(--acento);
}

#habilidades {
    display: flex;
    flex-direction: column;
}

.skills-container, .project-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.skill-card, .project-card {
    padding: 0.9375rem 0;
    border: 0.05625rem solid var(--secundario);
    border-radius: 0.3125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 26.875rem;
}

.skill-card h3 {
    padding: 0 1.875rem;
    margin: 1.875rem 0;
}

.skill-description {
    height: 15.625rem;
    width: 21.875rem;
}

.skill-description h3 {
    padding: 0 1.875rem;
}

.skill-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18.75rem;
    width: 18.75rem;
    flex-wrap: wrap;
}

.skill-description li {
    list-style-type: none;
}

#h-tecnicas, #h-blandas {
    margin-right: 0.9375rem;
}

#h-blandas, #idiomas {
    margin-left: 0.9375rem;
}

.icon {
    fill: var(--acento);
    width: 3.75rem;
    height: 3.75rem;
    margin: 0.9375rem;
}

.icon-blanda {
    margin-left: 1.875rem;
    margin-right: 1.875rem;
}

.flag {
    height: 3.125rem;
    width: 5rem;
    margin: 1.875rem;
}

.project-card {
    margin: 0.625rem;
}

.project-description {
    padding: 0.625rem 1.875rem;
}

.project-description p {
    margin-bottom: 0.3125rem;
}

.project-tecno, .project-link {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0.625rem;
    padding: 0.625rem 1.875rem;
    width: 100%;
    box-sizing: border-box;
}

.project-tecno span {
    background-color: var(--acento);
    color: var(--opcional);
    padding: 0.3125rem 0.625rem;
    border-radius: 0.3125rem;
    margin: 0;
    text-align: center;
    white-space: nowrap;
    flex-grow: 0;
}

.project-img img {
    width: 18.75rem;
    height: 12.5rem;
}

.project-link {
    margin: 0.625rem 0;
}

.project-link a {
    text-decoration: none;
}

i.fas, .project-link a {
    color: var(--acento);
    font-size: 1rem;
}

#contacto {
    display: flex;
    justify-content: space-between;
    margin-top: 3.125rem;
    margin-bottom: 0.625rem;
}

.form-card {
    width: 37.5rem;
}

.formulario {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 0.3125rem;
    font-weight: bold;
    color: var(--acento);
}

input[type="text"],
input[type="email"],
textarea {
    font-family: 'Open Sans';
    padding: 0.3125rem;
    margin-bottom: 0.9375rem;
    margin-left: 0.625rem;
    border: 0.0625rem solid var(--secundario);
    border-radius: 0.25rem;
    font-size: 1rem;
    resize: vertical;
    width: 50%;
}

textarea {
    min-height: 6.25rem;
}

select {
    padding: 0.3125rem;
    margin-top: 0.3125rem;
    margin-bottom: 0.9375rem;
    margin-left: 0.625rem;
    border: 0.0625rem solid var(--secundario);
    border-radius: 0.25rem;
    font-size: 1rem;
    width: 50%;
    appearance: none;
    background-color: white;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="gray" d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 0.625rem center;
    background-size: 1em;
}

select:hover {
    border-color: var(--acento);
}

select:focus {
    outline: none;
    border-color: var(--acento);
    box-shadow: 0 0 0.3125rem var(--secundario);
}

button {
    padding: 0.625rem 1.875rem;
    background-color: var(--acento);
    color: var(--opcional);
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 0.625rem;
}

.form-section {
    display: flex;
}

button:hover {
    background-color: var(--secundario);
    color: var(--acento);
}

#map {
    width: 31.25rem;
    height: 25rem;
    margin-top: 3.75rem;
}

footer {
    display: flex;
    justify-content: center;
    background-color: var(--secundario);
    margin-top: 1.25rem;
}

#video {
    margin-top: 1.5625rem;
    display: flex;
    justify-content: space-between;
}

#video div {
    width: 31.25rem;
    display: flex;
    align-items: center;
}

footer ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0px;
    margin-left: 3.125rem;
    margin-right: 3.125rem;
}

footer li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.625rem;
}

footer p {    
    margin-left: 3.125rem;
    margin-right: 3.125rem;
    align-content: center;
}

footer p {
    text-decoration: none;
    color: var(--acento);
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.03125rem;
}

.icon-social-media {
    fill: var(--acento);
}